@model IEnumerable<InAndOut.Models.ExpenseCategory>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Expense Categories List</h2>
        </div>

        <div class="col-6 text-right">
            <a asp-controller="ExpenseCategory" asp-action="Create" class="btn btn-primary">Create new Expense Category</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Expense Category
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var expcat in Model)
                {
                    <tr>
                        <td width="35%">@expcat.ExpenseCategoryName</td>
                        <td width="30%" class="align-content-center">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="ExpenseCategory" asp-action="Update" asp-route-Id="@expcat.Id" class="btn btn-primary mx-1">Update</a>
                                <a asp-controller="ExpenseCategory" asp-action="Delete" asp-route-Id="@expcat.Id" class="btn btn-danger mx-1">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Expense Categories created yet</p>
    }
</div>

