@model IEnumerable<InAndOut.Models.ExpenseType>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Expense Types List</h2>
        </div>

        <div class="col-6 text-right">
            <a asp-controller="ExpenseType" asp-action="Create" class="btn btn-primary">Create new Expense Type</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Expense Type
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var exptype in Model)
                {
                    <tr>
                        <td width="35%">@exptype.Name</td>
                        <td width="30%" class="align-content-center">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="ExpenseType" asp-action="Update" asp-route-Id="@exptype.Id" class="btn btn-primary mx-1">Update</a>
                                <a asp-controller="ExpenseType" asp-action="Delete" asp-route-Id="@exptype.Id" class="btn btn-danger mx-1">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Expense Types created yet</p>
    }
</div>
